#*
  this page layout as follow diagram:
  ----------------------------------------
  |              hdModules               |
  ----------------------------------------
  |             mainModules              |
  ----------------------------------------
  |              ftModules               |
  ----------------------------------------
*#

<div class="doc">
    <header>
        <!-- main modules -->
        $!{hdModules}
        <!-- main modules end -->
    </header>
    <div class="main">
        <!-- main modules -->
        $!{mainModules}
        <!-- main modules end -->
    </div>
    <footer>
        <!-- main modules -->
        $!{ftModules}
        <!-- main modules end -->
    </footer>
</div>
